
<h1><center> Plann.ed </center></h1>
<h4><center> Your personal calendar tool <center></h4>

<div><center> 
<% if user_signed_in? %>
	<div id='calendar'></div>
	<h5> Signed in as <%= current_user.email %>. Not you? </h5>
   		<%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: 'btn btn-danger' %>
<% else %>
<div class='btn-group'>
 <%= link_to "Sign in", new_user_session_path, class: 'btn btn-large btn-inverse' %><%= link_to "Sign up", new_user_registration_path, class: 'btn btn-large btn-inverse' %>
</div>
<% end %>
</center></div>